[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "admiral.test"]
	path = admiral.test
	url = https://github.com/cran/admiral.test
